<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app_dev.co_help">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoHELP">
        <activity android:name=".MyFeedsActivity"></activity>
        <activity android:name=".SendEmailActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainFeedActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".BloodSignInACtivity" />
        <activity
            android:name=".loginactivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".registerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnBoardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".EachDistrictDataActivity" />
        <activity android:name=".DistrictWiseDataActivity" />
        <activity android:name=".EachStateDataActivity" />
        <activity android:name=".EachCountryDataActivity" />
        <activity android:name=".CountryWiseDataActivity" />
        <activity android:name=".StateWiseDataActivity" />
        <activity android:name=".WorldActivity" />
        <activity android:name=".IndiaDataActivity" />
        <activity android:name=".vaccine" />
        <activity android:name=".stats" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>